In [1]:
import pandas as pd

In [2]:
SRC = pd.read_csv("SRC.csv", sep=";")

In [3]:
SRC.head()

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value
0,CHEMBL101917,NaN,NaN,374.23,1.0,5.17,2a,COc1cc2ncc(C#N)c(Nc3ccc(Cl)cc3Cl)c2cc1OC,IC50,'=',...,SINGLE PROTEIN,CHEMBL1134365,1,Scientific Literature,J Med Chem,2001,NaN,NaN,NaN,NaN
1,CHEMBL295902,NaN,NaN,663.68,3.0,-2.11,1,COC(=O)C(=O)C(=O)c1ccc(CC(NC(C)=O)C(=O)N[C@@H]...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1134113,1,Scientific Literature,Bioorg Med Chem Lett,2001,NaN,NaN,NaN,NaN
2,CHEMBL2111833,NaN,NaN,601.64,1.0,3.85,"(S,S)-5",CC(=O)N[C@@H](Cc1ccc(OP(=O)(O)O)cc1)C(=O)N[C@H...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1133687,1,Scientific Literature,J Med Chem,2000,NaN,NaN,NaN,NaN
3,CHEMBL77303,NaN,NaN,226.24,0.0,2.44,27,Oc1ccc2c(ncn2-c2ccccc2)c1O,IC50,'=',...,SINGLE PROTEIN,CHEMBL1132255,1,Scientific Literature,J Med Chem,1999,NaN,NaN,NaN,NaN
4,CHEMBL128705,NaN,NaN,561.86,2.0,5.38,2d,COc1cc(Nc2c(C#N)cnc3cc(OCCCN4CCOCC4)c(OC)cc23)...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1134270,1,Scientific Literature,J Med Chem,2001,NaN,NaN,NaN,NaN

In [4]:
SRC.shape

(5202, 47)

In [5]:
n_SRC = SRC[["Molecule ChEMBL ID", "Molecule Name", "Smiles", "Standard Type", "Standard Relation", "Standard Value", "Standard Units"]].copy()

In [6]:
n_SRC.isna().sum()

Molecule ChEMBL ID       0
Molecule Name         4920
Smiles                   2
Standard Type            0
Standard Relation      234
Standard Value         234
Standard Units         153
dtype: int64

In [7]:
l_SRC = n_SRC.dropna(subset=["Smiles", "Standard Value"]).copy()

In [8]:
l_SRC.shape

(4966, 7)

In [9]:
l_SRC["Standard Units"].value_counts()

Standard Units
nM         4926
ug.mL-1      40
Name: count, dtype: int64

In [10]:
s_SRC = l_SRC[(l_SRC["Standard Units"] == "nM")]

In [11]:
s_SRC.shape

(4926, 7)

In [12]:
d_SRC = s_SRC.drop_duplicates(subset="Molecule ChEMBL ID").copy()

In [13]:
d_SRC.shape

(3825, 7)

In [14]:
d_SRC.to_csv("SRC_limpio.csv", index=False)

In [15]:
d_SRC["Molecule ChEMBL ID"].to_csv("SRC_columnas.txt", index=False, header=False)

In [16]:
d_SRC[d_SRC["Molecule ChEMBL ID"] == "CHEMBL44"]

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
212,CHEMBL44,GENISTEIN,O=c1c(-c2ccc(O)cc2)coc2cc(O)cc(O)c12,IC50,'=',75000.0,nM

In [17]:
d_SRC[d_SRC["Molecule ChEMBL ID"] == "CHEMBL1448"]

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
1402,CHEMBL1448,NICLOSAMIDE,O=C(Nc1ccc([N+](=O)[O-])cc1Cl)c1cc(Cl)ccc1O,IC50,'=',10500.0,nM