In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
EGFR = pd.read_csv("EGFR.csv", sep=";")

C:\Users\Eliud\AppData\Local\Temp\ipykernel_2020\3634827143.py:1: DtypeWarning: Columns (27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  EGFR = pd.read_csv("EGFR.csv", sep=";")

In [3]:
EGFR.head()

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value
0,CHEMBL65848,NaN,NaN,470.53,0.0,3.31,28a,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1134862,1,Scientific Literature,Bioorg Med Chem Lett,2002.0,CHEMBL3307716,NaN,NaN,NaN
1,CHEMBL431977,NaN,NaN,481.63,1.0,5.89,38,NC(=O)C1CCN(Cc2ccc(-c3cc4nccc(Nc5ccc6[nH]ccc6c...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1146693,1,Scientific Literature,Bioorg Med Chem Lett,2004.0,NaN,NaN,NaN,NaN
2,CHEMBL420609,NaN,NaN,366.42,0.0,3.41,9e,COc1ccc2c(c1)NC(=O)/C2=C\c1[nH]c2c(c1CCC(=O)O)...,IC50,'>',...,SINGLE PROTEIN,CHEMBL1133768,1,Scientific Literature,J Med Chem,2000.0,NaN,NaN,NaN,NaN
3,CHEMBL1727,CEPHALEXIN ANHYDROUS,4.0,347.40,0.0,0.44,CEPHALEXIN,CC1=C(C(=O)O)N2C(=O)[C@@H](NC(=O)[C@H](N)c3ccc...,IC50,NaN,...,SINGLE PROTEIN,CHEMBL1909046,15,DrugMatrix,NaN,NaN,NaN,NaN,NaN,NaN
4,CHEMBL78257,TYRPHOSTIN 51,NaN,268.23,0.0,0.97,51,N#CC(C#N)=C(N)/C(C#N)=C/c1cc(O)c(O)c(O)c1,IC50,'=',...,SINGLE PROTEIN,CHEMBL1124610,1,Scientific Literature,J Med Chem,1989.0,NaN,NaN,NaN,NaN

In [4]:
EGFR.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties',
       'Action Type', 'Standard Text Value'],
      dtype='object')

In [5]:
n_EGFR = EGFR[["Molecule ChEMBL ID", "Molecule Name", "Smiles", "Standard Type", "Standard Relation", "Standard Value", "Standard Units"]].copy()

In [7]:
n_EGFR.shape

(17286, 7)

In [8]:
n_EGFR.isna().sum()

Molecule ChEMBL ID        0
Molecule Name         14910
Smiles                   32
Standard Type             0
Standard Relation      1379
Standard Value         1379
Standard Units         1237
dtype: int64

In [9]:
l_EGFR = n_EGFR.dropna(subset=["Smiles", "Standard Value"]).copy()

In [10]:
l_EGFR.isna().sum()

Molecule ChEMBL ID        0
Molecule Name         14374
Smiles                    0
Standard Type             0
Standard Relation         3
Standard Value            0
Standard Units            0
dtype: int64

In [11]:
n_EGFR.shape

(17286, 7)

In [12]:
l_EGFR.shape

(15900, 7)

In [13]:
l_EGFR.head()

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL65848,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',4320.0,nM
1,CHEMBL431977,NaN,NC(=O)C1CCN(Cc2ccc(-c3cc4nccc(Nc5ccc6[nH]ccc6c...,IC50,'=',1.0,nM
2,CHEMBL420609,NaN,COc1ccc2c(c1)NC(=O)/C2=C\c1[nH]c2c(c1CCC(=O)O)...,IC50,'>',100000.0,nM
4,CHEMBL78257,TYRPHOSTIN 51,N#CC(C#N)=C(N)/C(C#N)=C/c1cc(O)c(O)c(O)c1,IC50,'=',800.0,nM
8,CHEMBL69960,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',170.0,nM

In [12]:
s_EGFR = l_EGFR[(l_EGFR["Standard Units"] == "nM") | (l_EGFR["Standard Units"] == "/uM")]

In [13]:
s_EGFR["Standard Units"].value_counts()

Standard Units
nM     15808
/uM        6
Name: count, dtype: int64

In [14]:
s_EGFR.shape

(15814, 7)

In [15]:
s_EGFR[s_EGFR["Standard Units"] == "/uM"]

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
1711,CHEMBL484119,NaN,COC[C@@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1ccc(NC=...,IC50,'=',2.3,/uM
2603,CHEMBL484316,NaN,COC[C@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1ccc(NC=C...,IC50,'=',23.0,/uM
8219,CHEMBL490267,NaN,CC(C)(C)c1ccc(OC[C@H](Cn2ccnc2[N+](=O)[O-])OC(...,IC50,'=',18.4,/uM
8769,CHEMBL490266,NaN,CC(C)(C)c1ccc(OC[C@@H](Cn2ccnc2[N+](=O)[O-])OC...,IC50,'=',1.8,/uM
8999,CHEMBL484321,NaN,CC(C)(C)OC[C@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1c...,IC50,'=',213.0,/uM
9205,CHEMBL484121,NaN,CC(C)(C)OC[C@@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1...,IC50,'=',21.3,/uM

In [16]:
s_EGFR["Standard Value"][s_EGFR["Standard Units"] == "/uM"] = s_EGFR["Standard Value"][s_EGFR["Standard Units"] == "/uM"]*1000

C:\Users\Eliud\AppData\Local\Temp\ipykernel_10476\1552303158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_EGFR["Standard Value"][s_EGFR["Standard Units"] == "/uM"] = s_EGFR["Standard Value"][s_EGFR["Standard Units"] == "/uM"]*1000

In [17]:
s_EGFR[s_EGFR["Standard Units"] == "/uM"]

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
1711,CHEMBL484119,NaN,COC[C@@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1ccc(NC=...,IC50,'=',2300.0,/uM
2603,CHEMBL484316,NaN,COC[C@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1ccc(NC=C...,IC50,'=',23000.0,/uM
8219,CHEMBL490267,NaN,CC(C)(C)c1ccc(OC[C@H](Cn2ccnc2[N+](=O)[O-])OC(...,IC50,'=',18400.0,/uM
8769,CHEMBL490266,NaN,CC(C)(C)c1ccc(OC[C@@H](Cn2ccnc2[N+](=O)[O-])OC...,IC50,'=',1800.0,/uM
8999,CHEMBL484321,NaN,CC(C)(C)OC[C@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1c...,IC50,'=',213000.0,/uM
9205,CHEMBL484121,NaN,CC(C)(C)OC[C@@H](Cn1ccnc1[N+](=O)[O-])OC(=O)c1...,IC50,'=',21300.0,/uM

In [18]:
s_EGFR["Standard Units"][s_EGFR["Standard Units"] == "'nM'"] = "nM"

C:\Users\Eliud\AppData\Local\Temp\ipykernel_10476\739798325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_EGFR["Standard Units"][s_EGFR["Standard Units"] == "'nM'"] = "nM"

In [19]:
s_EGFR["Standard Units"].value_counts()

Standard Units
nM     15808
/uM        6
Name: count, dtype: int64

In [20]:
s_EGFR.head()

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL65848,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',4320.0,nM
1,CHEMBL431977,NaN,NC(=O)C1CCN(Cc2ccc(-c3cc4nccc(Nc5ccc6[nH]ccc6c...,IC50,'=',1.0,nM
2,CHEMBL420609,NaN,COc1ccc2c(c1)NC(=O)/C2=C\c1[nH]c2c(c1CCC(=O)O)...,IC50,'>',100000.0,nM
4,CHEMBL78257,TYRPHOSTIN 51,N#CC(C#N)=C(N)/C(C#N)=C/c1cc(O)c(O)c(O)c1,IC50,'=',800.0,nM
8,CHEMBL69960,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',170.0,nM

In [21]:
d_EGFR = s_EGFR.drop_duplicates(subset="Molecule ChEMBL ID").copy()

In [22]:
d_EGFR.shape

(9720, 7)

In [30]:
d_EGFR = d_EGFR[d_EGFR["Standard Relation"] == "'='"].copy()

In [32]:
d_EGFR.shape

(7408, 7)

In [33]:
d_EGFR.head()

,Molecule ChEMBL ID,Molecule Name,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units
0,CHEMBL65848,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',4320.0,nM
1,CHEMBL431977,NaN,NC(=O)C1CCN(Cc2ccc(-c3cc4nccc(Nc5ccc6[nH]ccc6c...,IC50,'=',1.0,nM
4,CHEMBL78257,TYRPHOSTIN 51,N#CC(C#N)=C(N)/C(C#N)=C/c1cc(O)c(O)c(O)c1,IC50,'=',800.0,nM
8,CHEMBL69960,NaN,Cc1cc(C(=O)N2CCOCC2)[nH]c1/C=C1\C(=O)Nc2ncnc(N...,IC50,'=',170.0,nM
10,CHEMBL29197,NaN,COc1cc2ncnc(Nc3cccc(Br)c3)c2cc1OC,IC50,'=',70.0,nM

In [34]:
d_EGFR.to_csv("EGFR_limpio.csv", index=False)